<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.zsx.transfering.dao.IMapperDao">

    <!--    &lt;!&ndash; 可根据自己的需求，是否要使用 &ndash;&gt;
        <resultMap type="Librarian" id="LibrarianMap">

            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="userName" property="useName" jdbcType="VARCHAR" />
            <result column="password" property="password" jdbcType="VARCHAR" />
            <result column="age" property="age" jdbcType="INTEGER" />
            <result column="position" property="position" jdbcType="VARCHAR" />

        </resultMap>-->
    <select id="getBalance" parameterType="String" resultType="BigDecimal">
      select balance from balance_table where account_number=#{accountNumber}
    </select>
    <update id="updateAccount" >
        UPDATE balance_table SET balance = #{money} where account_Number=#{accountNumber}
    </update>
    <insert id="addAccount"  parameterType="AccountA">
      INSERT into  balance_table (account_number,customer_name,balance) VALUES(#{accountNumber},#{customerName},#{balance})
    </insert>

    <select id="listOne"  resultType="Integer">
    select  vote_num  from  one
</select>
    <insert id="addTwo" >
        insert  into  two values (#{voteNum},#{userId},#{last})
    </insert>


</mapper>