<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- consumer's application name, used for tracing dependency relationship (not a matching criterion),
    don't set it same as provider -->
    <dubbo:application name="consumer"/>
    <!-- use multicast registry center to discover service -->
   <!-- <dubbo:registry address="multicast://239.5.6.7:1234" check="false"/>-->
    <!--本地多播有问题，改为zk注册中心-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>
    <!-- generate proxy for the remote service, then demoService can be used in the same way as the
    local regular interface -->
 <!--<dubbo:reference id="toDoService" check="false" interface="common.service.IToDoService" />-->
    <dubbo:consumer check="false"/>
    <!--扫描包-->
 <dubbo:annotation package="zsx.dubbo.*"/>
    <!--测试包跟源码包不在一个路径下-->
 <dubbo:annotation package="dubbo.test"/>

<!--
    <dubbo:reference id="operationService" check="false" interface="common.service.IOperationService" />
-->



</beans>